# Building an LA-Crime Analytics Model for a Deep Crime Dive

In [226]:
file = 'Crime_Data_from_2020_to_Present.csv'

In [228]:
import pandas as pd
import numpy as np


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.expand_frame_repr', False)

In [232]:
df = pd.read_csv(file)
df.head(2)

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  AREA NAME  Rpt Dist No  Part 1-2  Crm Cd               Crm Cd Desc         Mocodes  Vict Age Vict Sex Vict Descent  Premis Cd             Premis Desc  Weapon Used Cd                                     Weapon Desc Status  Status Desc  Crm Cd 1  Crm Cd 2  Crm Cd 3  Crm Cd 4                                 LOCATION Cross Street      LAT       LON
0   10304468  01/08/2020 12:00:00 AM  01/08/2020 12:00:00 AM      2230     3  Southwest          377         2     624  BATTERY - SIMPLE ASSAULT       0444 0913        36        F            B      501.0  SINGLE FAMILY DWELLING           400.0  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     AO  Adult Other     624.0       NaN       NaN       NaN  1100 W  39TH                         PL          NaN  34.0141 -118.2978
1  190101086  01/02/2020 12:00:00 AM  01/01/2020 12:00:00 AM       330     1    Central          163         2     624  BATTERY - SIMPLE ASSAULT  0416 1822 1414        25        M            H      102.0                SIDEWALK           500.0                     UNKNOWN WEAPON/OTHER WEAPON     IC  Invest Cont     624.0       NaN       NaN       NaN   700 S  HILL                         ST          NaN  34.0459 -118.2545

# Explaining the datase

- **DR_NO (Division of Records Number)**: This is the unique identification number or case number assigned to each crime report. It serves as a unique identifier for a specific incident in the database.

- **Date Rptd (Date Reported)**: The date when the incident was reported to the police. This is not necessarily the date the crime occurred, but the date it was brought to the attention of law enforcement.

- **DATE OCC (Date of Occurrence)**: The actual date when the crime took place. This may differ from the reported date, especially if the crime was discovered later.

- **TIME OCC (Time of Occurrence)**: The time when the crime occurred, usually recorded in 24-hour format.

- **AREA**: A numerical code representing the geographic area (often a police district) where the crime occurred.

- **AREA NAME**: The name of the geographic area or police district where the crime took place. For example, "Hollywood" or "Central."

- **Rpt Dist No (Reporting District Number)**: A more specific geographic subdivision within a police district. This number identifies a smaller area within the larger district.

- **Part 1-2**: This column classifies the crime as a "Part 1" or "Part 2" offense. "Part 1" crimes are more serious (e.g., murder, rape, robbery), while "Part 2" crimes include less severe offenses (e.g., vandalism, drunkenness).

- **Crm Cd (Crime Code)**: A numerical code that describes the specific type of crime. Each code corresponds to a particular offense, such as burglary, theft, or assault.

- **Crm Cd Desc (Crime Code Description)**: A text description of the crime, explaining what the corresponding "Crm Cd" means. For example, "440" might refer to "Auto Theft."


- **Mocodes**: Method of operation codes, providing details about how the crime was committed. This column has some missing values.

- **Vict Age (Victim Age)**: The age of the victim involved in the crime.

- **Vict Sex (Victim Sex)**:The sex of the victim, such as male (M), female (F), or other categories. This column has some missing values.

- **Vict Descent (Victim Descent)**:The ethnic descent of the victim, such as Hispanic, African-American, Asian, etc. This column also has some missing values.

- **Premis Cd (Premise Code)**:A numerical code that indicates the type of location where the crime occurred, such as a residence, commercial building, or public space. This column has a small number of missing values.

- **Premis Desc (Premise Description)**:A text description of the location type, corresponding to the Premis Cd. For example, "Single Family Dwelling" or "Retail Store." This column has some missing values.

- **Weapon Used Cd (Weapon Used Code)**:A numerical code indicating the type of weapon used in the crime, if any. This column has a significant number of missing values, indicating that many crimes did not involve a weapon.

- **Weapon Desc (Weapon Description)**:A text description of the weapon used, corresponding to the Weapon Used Cd. For example, "Handgun" or "Knife." This column has the same missing values as Weapon Used Cd.

- **Status**: A code indicating the current status of the case, such as whether the case is still open or has been resolved.

- **Status Desc (Status Description)**: A text description of the status, explaining what the status code represents, such as "Open" or "Closed."

- **Crm Cd 1, Crm Cd 2, Crm Cd 3, Crm Cd 4**: These columns allow for the recording of up to four different offenses in a single incident, in case multiple crimes were committed simultaneously.

- **LOCATION**: The address or location where the crime occurred. This could be a specific address or a general description of the location.

- **Cross Street**: If available, this indicates the nearest cross street to further pinpoint the location of the incident.

- **LAT (Latitude)**: The geographical latitude of the crime scene. This is a numerical value indicating the location’s position north or south on the Earth.

- **LON (Longitude)**: The geographical longitude of the crime scene. This is a numerical value indicating the location’s position east or west on the Earth.

# Dataset Information

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708084 entries, 0 to 708083
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           708084 non-null  int64
 1   Date Rptd       708084 non-null  object
 2   DATE OCC        708084 non-null  object
 3   TIME OCC        708084 non-null  int64
 4   AREA            708084 non-null  int64
 5   AREA NAME       708084 non-null  object
 6   Rpt Dist No     708084 non-null  int64
 7   Part 1-2        708084 non-null  int64
 8   Crm Cd          708084 non-null  int64
 9   Crm Cd Desc     708084 non-null  object
 10  Mocodes         610782 non-null  object
 11  Vict Age        708084 non-null  int64
 12  Vict Sex        615442 non-null  object
 13  Vict Descent    615436 non-null  object
 14  Premis Cd       708076 non-null  float64
 15  Premis Desc     707699 non-null  object
 16  Weapon Used Cd  245937 non-null  float64
 17  Weapon Desc     245937 non-null  object
 18  Status          708084 non-null  object
 19  Status Desc     708084 non-null  object
 20  Crm Cd 1        708075 non-null  float64
 21  Crm Cd 2        52707 non-null   float64
 22  Crm Cd 3        1774 non-null    float64
 23  Crm Cd 4        54 non-null      float64
 24  LOCATION        708084 non-null  object
 25  Cross Street    114624 non-null  object
 26  LAT             708084 non-null  float64
 27  LON             708084 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 151.3+ MB

In [236]:
df.dtypes.value_counts()

object     13
float64     8
int64       7
Name: count, dtype: int64

- So we see that we have 13 categorical features
- And we have 15 numerical features

**Find Missing Values**

In [240]:
df.isnull().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes            97302
Vict Age               0
Vict Sex           92642
Vict Descent       92648
Premis Cd              8
Premis Desc          385
Weapon Used Cd    462147
Weapon Desc       462147
Status                 0
Status Desc            0
Crm Cd 1               9
Crm Cd 2          655377
Crm Cd 3          706310
Crm Cd 4          708030
LOCATION               0
Cross Street      593460
LAT                    0
LON                    0
dtype: int64

In [242]:
missing_values = df.isnull().sum()
missing_values_procent = (missing_values / df.shape[0]) * 100
missing_values_df = pd.DataFrame({
    'Missing Values': missing_values,
    'in %': missing_values_procent.round(2)
})

missing_values_df.T

                DR_NO  Date Rptd  DATE OCC  TIME OCC  AREA  AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  Crm Cd Desc   Mocodes  Vict Age  Vict Sex  Vict Descent  Premis Cd  Premis Desc  Weapon Used Cd  Weapon Desc  Status  Status Desc  Crm Cd 1   Crm Cd 2   Crm Cd 3   Crm Cd 4  LOCATION  Cross Street  LAT  LON
Missing Values    0.0        0.0       0.0       0.0   0.0        0.0          0.0       0.0     0.0          0.0  97302.00       0.0  92642.00      92648.00        8.0       385.00       462147.00    462147.00     0.0          0.0       9.0  655377.00  706310.00  708030.00       0.0     593460.00  0.0  0.0
in %              0.0        0.0       0.0       0.0   0.0        0.0          0.0       0.0     0.0          0.0     13.74       0.0     13.08         13.08        0.0         0.05           65.27        65.27     0.0          0.0       0.0      92.56      99.75      99.99       0.0         83.81  0.0  0.0

**Insights & Explanations**
- By looking at the missing values of the dataset we find six features which are missing a lot of data. I will not replace the missing values with self-generated values, since this will totally distort the dataset and the insights we will later gain out of it. So I will delete these features.
- Deleted features will be: Weapon Used Cd, Crm Cd 2, Crm Cd 3, Crm Cd 4, Cross Street
- It could be a future task for the police to be more attentive to correctly fill in the data
- For the features Mocodes, Vict Sex, Vict Descent, Prmis Cd, Premis Desc I will manually replace the missing values with either the mean of the numerical feature or the most frequency of the categorical feature

**Drop features**

In [246]:
df = df.drop(['DR_NO','Weapon Used Cd','Weapon Desc', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'Cross Street'], axis=1)

**Repalce missing values**

In [249]:
df['Vict Age'].fillna(df['Vict Age'].mean(), inplace=True)
df['Premis Cd'].fillna(df['Premis Cd'].mean(), inplace=True)
df['Mocodes'].fillna(df['Mocodes'].mode()[0], inplace=True)
df['Vict Sex'].fillna(df['Vict Sex'].mode()[0], inplace=True)
df['Vict Descent'].fillna(df['Vict Descent'].mode()[0], inplace=True)
df['Premis Desc'].fillna(df['Premis Desc'].mode()[0], inplace=True)

In [251]:
df.isnull().sum() # proof

Date Rptd       0
DATE OCC        0
TIME OCC        0
AREA            0
AREA NAME       0
Rpt Dist No     0
Part 1-2        0
Crm Cd          0
Crm Cd Desc     0
Mocodes         0
Vict Age        0
Vict Sex        0
Vict Descent    0
Premis Cd       0
Premis Desc     0
Status          0
Status Desc     0
Crm Cd 1        9
LOCATION        0
LAT             0
LON             0
dtype: int64

**Handling Date and Time Features**

In [254]:
df['Date Rptd'] = pd.to_datetime(df['Date Rptd'])
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])

/var/folders/jr/887rxn_n5nn1d9cjrnh9h7yh0000gn/T/ipykernel_17626/2630310296.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Rptd'] = pd.to_datetime(df['Date Rptd'])
/var/folders/jr/887rxn_n5nn1d9cjrnh9h7yh0000gn/T/ipykernel_17626/2630310296.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])

In [260]:
df['Reporting_Year'] = df['Date Rptd'].dt.year
df['Reporting_Month'] = df['Date Rptd'].dt.month
df['Reporting_Day'] = df['Date Rptd'].dt.day

df['Actual_Year'] = df['DATE OCC'].dt.year
df['Actual_Month'] = df['DATE OCC'].dt.month
df['Actual_Day'] = df['DATE OCC'].dt.day

df = df.drop(['Date Rptd', 'DATE OCC'], axis=1)

**New order**

In [270]:
new_order_list = ['Reporting_Year', 'Reporting_Month', 'Reporting_Day', 'Actual_Year', 'Actual_Month', 'Actual_Day']
new_order = new_order_list + [col for col in df.columns if col not in new_order_list]
df = df[new_order]

In [272]:
df.head()

   Reporting_Year  Reporting_Month  Reporting_Day  Actual_Year  Actual_Month  Actual_Day  TIME OCC  AREA    AREA NAME  Rpt Dist No  Part 1-2  Crm Cd                                              Crm Cd Desc         Mocodes  Vict Age Vict Sex Vict Descent  Premis Cd                                   Premis Desc Status   Status Desc  Crm Cd 1                                  LOCATION      LAT       LON
0            2020                1              8         2020             1           8      2230     3    Southwest          377         2     624                                 BATTERY - SIMPLE ASSAULT       0444 0913        36        F            B      501.0                        SINGLE FAMILY DWELLING     AO   Adult Other     624.0   1100 W  39TH                         PL  34.0141 -118.2978
1            2020                1              2         2020             1           1       330     1      Central          163         2     624                                 BATTERY - SIMPLE ASSAULT  0416 1822 1414        25        M            H      102.0                                      SIDEWALK     IC   Invest Cont     624.0    700 S  HILL                         ST  34.0459 -118.2545
2            2020                4             14         2020             2          13      1200     1      Central          155         2     845                SEX OFFENDER REGISTRANT OUT OF COMPLIANCE            1501         0        X            X      726.0                               POLICE FACILITY     AA  Adult Arrest     845.0    200 E  6TH                          ST  34.0448 -118.2474
3            2020                1              1         2020             1           1      1730    15  N Hollywood         1543         2     745                 VANDALISM - MISDEAMEANOR ($399 OR UNDER)       0329 1402        76        F            W      502.0  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)     IC   Invest Cont     745.0   5400    CORTEEN                      PL  34.1685 -118.4019
4            2020                1              1         2020             1           1       415    19      Mission         1998         2     740  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)            0329        31        X            X      409.0                           BEAUTY SUPPLY STORE     IC   Invest Cont     740.0  14400    TITUS                        ST  34.2198 -118.4468

# Explorative Data Analysis

## Univariate Analysis
- On which features I would like to have a look?

### Numerical Features

### Categorical Features

## Bivariate Analysis

### Numerical Features

### Categorical Features

## Multivariate Analysis

### Numerical Features

### Categorical Features